.recipe-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipe-photo {
  max-height: 50vw;
  width: 100%;
}

.recipe-title {
  font-size: 24px;
  margin: 20px 0;
}

.recipe-category {
  font-size: 18px;
  margin-bottom: 20px;
}

.ingredients-list {
  font-size: 16px;
  margin-bottom: 20px;
}

.instructions {
  font-size: 16px;
  margin-bottom: 20px;
}

.video {
  margin-bottom: 20px;
  max-height: 50vw;
  width: 100%;
}

.carousel {
  display: flex;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.carousel-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.carousel-card img {
  margin-bottom: 10px;
  max-height: 40vw;
  width: 80%;
}

.carousel-card p {
  font-size: 14px;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
  font-size: 18px;
  width: 100%;
  background-color: #ff5f5f;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
