* {
  margin: 0;
  padding: 0;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  overflow-x: auto;
  width: 100%;
}

.carousel-card {
  border: 1px solid red;
  margin: auto 35px;
  padding: 10px;
  width: 100vw;
}

.carousel-card img {
  width: 660px;
}

.carousel-card p {
  font-size: 14px;
}

.ingredients-list {
  font-size: 16px;
  margin-bottom: 20px;
}

.instructions {
  font-size: 16px;
  margin-bottom: 20px;
}

.recipe-category {
  font-size: 18px;
  margin-bottom: 20px;
}

.recipe-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.recipe-photo {
  max-height: 50vw;
  width: 100%;
}

.recipe-title {
  font-size: 24px;
  margin: 20px 0;
}

.start-recipe-btn {
  background-color: #ff5f5f;
  border: none;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.video {
  margin-bottom: 20px;
  max-height: 50vw;
  width: 100%;
}
